/*Document Styling*/
/*
* {
  outline: 1px solid magenta
}
*/
:root {
  --main-accent-color: rgb(38, 175, 29);
  --disabled-color: #555;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  background: #ffffff;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
main {
  background: #fff;
  margin: 0px;
  padding: 0px;
}
h1 {
  color: black;
  font-family: "Atkinson Hyperlegible", serif;
  font-size: 32px;
  font-weight: 400;
  margin: 5px 0px 0px 0px;
  padding: 0px 5px;
}
h2 {
  color: black;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 5px 0px;
  padding: 0px;
}
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 7px;
}
/*Section Styling */
section.screen-section {
  margin: 0px;
  overflow: hidden;
  padding: 12px;
  position: relative;
}
section.app-section {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
ul.app-list {
  display: flex;
  list-style-type: none;
  margin: 0px 5px;
  padding: 0px 0px 10px 0px;
}
.app-list-item {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
  margin: 0px 15px 0px 0px ;
  padding: 0px;
  
}
.app-list-item:hover {
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(-3px);
  transition: all 0.3s cubic-bezier(.01,.9,.07,1);
}
.app-list-item > a {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-items: center;
  margin: 0px;
  padding: 5px 15px;
  text-decoration: none; 
}
.app-list-item > a:hover {
  color: var(--main-accent-color);
  text-decoration: none; 
}
.app-list-item span.la {
  font-size: 32px;
}

.primary-button {
  background: var(--main-accent-color);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.15);
  color: white;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  padding: 6px 24px;
}
.primary-button:hover {
  background: #2bc520;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transform: translateY(-3px);
  transition: all 0.3s cubic-bezier(.01,.9,.07,1);
}

/*Footer Navication*/
footer#nav-footer {
  background: #eee;
  bottom: 0px;
  box-shadow: inset 1px 1px 4px 3px rgba(0,0,0,0.1);
  left: 0px;
  right: 0px;
  position: fixed;
  width: 100%;
}
footer#nav-footer > ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
footer#nav-footer > ul > li {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
footer#nav-footer > ul > li > a {
  align-items: center;
  border-top: 1px solid #fff;
  color: var(--disabled-color);
  display: flex;
  font-size: 12px;
  flex-direction: column;
  margin: 0px;
  outlin: 1px solid red;
  padding: 12px;
  text-decoration: none;
}
footer#nav-footer > ul > li > a:hover {
  color: black;
}
footer#nav-footer > ul > li > a.active {
  background: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 10px 6px 3px rgba(0, 0, 0, 0.1);
  color: var(--main-accent-color);
}
footer#nav-footer > ul > li > a > span.la {
  font-size: 32px;
  margin: 0px;
  padding: 0px;
}
