/*Document Styling*/
html {
  margin: 0px;
  padding: 0px;
}
body {
  background: #ffffff;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  outline: 1px solid red;
}
main {
  background: #eeeeee;
  margin: 0px;
  padding: 0px;
}

/*Footer Navication*/
footer#nav-footer {
  background: #ccc; 
}
footer#nav-footer>ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
footer#nav-footer>ul>li {
  margin: 0px;
  padding: 0px;
}
footer#nav-footer>ul>li>a {
  margin: 0px;
  padding: 12px;
}